<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Framework Testing Suite">


	<parameter name="environment" value="test"/>
	
		<test thread-count="5" name="UI Testing Test cases">


			<classes>
				<class name="com.training.qa.Tests.AppTests">

					<methods>

						<include name="login" />

					</methods>
				</class>
			</classes>
		</test> <!-- UI Testing Test cases -->
</suite> <!-- Automation Frameword Testing Suite -->
